<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drift.vr"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">

    <!-- Quest VR Requirements -->
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1"/>
    <uses-feature android:name="oculus.software.handtracking" android:required="false"/>

    <!-- This marks the app as a VR app for Quest -->
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation"/>

    <!-- Oculus-specific permissions -->
    <uses-permission android:name="com.oculus.permission.HAND_TRACKING"/>
    <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/UnityThemeSelector"
        android:isGame="true"
        android:banner="@drawable/app_banner"
        android:requestLegacyExternalStorage="true">

        <meta-data android:name="com.samsung.android.vr.application.mode" android:value="vr_only"/>
        <meta-data android:name="com.oculus.vr.focusaware" android:value="true"/>
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest|quest2|questpro|quest3"/>

        <!-- Hand tracking support -->
        <meta-data android:name="com.oculus.handtracking.frequency" android:value="HIGH"/>
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0"/>

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:resizeableActivity="false"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="com.oculus.intent.category.VR"/>
            </intent-filter>

            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
        </activity>

        <!-- Foreground service for haptic connection -->
        <service
            android:name=".HapticConnectionService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice"/>
    </application>
</manifest>
